---
title: OSSE ENTERPRISE - DOCUMENTACÍON
---
<div class="row">
  <ul class="main-topics" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <% if ENV['NANOC_ENV'] == 'production' %>
      <% @config[:products].each do |name, product| %>
        <% if product[:expose] == true %>
          <li>
            <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper flex-container flex-column">
                <img src="<%= product[:img] %>" alt="<%= product[:short_name] %> line logo">
                <div class="topic-info">
                  <h2 itemprop="name"><%= product[:short_name] %></h2>
                  <p><%= product[:description] %></p>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% else %>
      <% @config[:products].each do |name, product| %>
        <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
          <li>
            <a itemprop="url" href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
              <div class="wrapper flex-container flex-column">
                <img src="<%= product[:img] %>" alt="<%= product[:short_name] %> line logo">
                <div class="topic-info">
                  <h2 itemprop="name"><%= product[:short_name] %></h2>
                  <p><%= product[:description] %></p>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="popular-topics">
  <h1>Temas más populares</h1>
  <div class="topics-container flex-container">
      <% @config[:topics].each do |name, topic| %>
          <a class="topic" href="<%= topic[:href] %>">
              <h4><%= topic[:h4] %></h4>
              <p><%= topic[:p] %></p>
        </a>
      <% end %>
  </div>
</div>
