    <img  width=65 height=60 viewBox="0 0 210 194" src="<%= @items['/assets/images/osse-logo.svg'].path %>" class="logo footer-logo" />

  <div class='animated container'>
    <ul class='text-center footer-social'>
      <li> <a href="http://twitter.com/osse" target="_blank"><i class='fa fa-twitter'></i> <span class=sr-only>Twitter</span></a></li>
      <li> <a href="http://www.facebook.com/osse" target="_blank"><i class='fa fa-facebook'></i> <span class=sr-only>Facebook</span> </a></li>
      <li> <a href="http://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg" target="_blank"><i class='fa fa-youtube'></i> <span class=sr-only>YouTube</span> </a></li>
      <li> <a href="http://www.linkedin.com/company/osse" target="_blank"><i class='fa fa-linkedin'></i> <span class=sr-only>LinkedIn</span> </a></li>
    </ul>
    <div class=row>
      <div class='col-sm-6 col-md-3 col-lg-2 col-lg-offset-2 footer-link-holder'>
        <h3 class=footer-link-title>Productos</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Features</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Installation</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">osse.com.pe</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Pricing</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Releases</a></li>
        </ul>
      </div>
      <div class='col-sm-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Servicios</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Resellers</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Services</a></li>
        </ul>
      </div>
      <div class='col-sm-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Comunidad</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Resources</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Events</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Core Team</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Contributors</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Find a Speaker</a></li>
          <li><a href="/">Documentation</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Getting Help</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Contributing</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Applications</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Hall of Fame</a></li>
        </ul>
      </div>
      <div class='col-sm-6 col-md-3 col-lg-2 footer-link-holder'>
        <h3 class=footer-link-title>Compa&ntilde;ia</h3>
        <ul class='animated footer-links'>
          <li><a href="http://osse.com.pe/" target="_blank">Source Code</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Blog</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Customers</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Press and Logos</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Shop</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">About Us</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Team</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Direction</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Handbook</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Jobs</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Terms</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Privacy Policy</a></li>
          <li><a href="http://osse.com.pe/" target="_blank">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
